<div class = "container bold">
    <div class = "row">
        <div class = "col-md-2">
            <span style = "color: black;">상호</span><br> 
            <%= @mart.mart_name %><br><br>
            <span style = "color: black;">대표</span><br>
            <%= @mart.mart_leader %><br><br>
            <span style = "color: black;">사업자번호</span><br>
            <%= @mart.mart_number %><br><br>
            <span style = "color: black;">주소</span><br>
            <%= @mart.mart_address %><br><br>
            <span style = "color: black;">협약일</span><br>
            <%= @mart.agreement_day %><br><br>
            <span style = "color: black;">운영시간</span><br>
            <%= @mart.mart_time %><br><br>
            <span style = "color: black;">전화번호</span><br>
            <%= @mart.mart_phone %><br><br>
            <hr>
            <!-- Button 레시피 modal -->
            <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
            <button type="button" class="btn btn-primary" style = "width: 100%;" data-toggle="modal" data-target="#myModal_mart_<%= @mart.id %>">
              메뉴추가
            </button>
            <% else %>
            
            <% end %>
            <!-- Modal -->
            <div class="modal fade" id="myModal_mart_<%= @mart.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">레시피 추가</h4>
                  </div>
                  <div class="modal-body">
                      <form action = "/home/menu_save" enctype="multipart/form-data" method = "post">
                          <input type= "hidden" name = "mart_id" value =" <%= @mart.id %>"> <!-- Mart 고유 id 넘기기 -->
                          <div class="form-group">
                            <label for="exampleInputEmail_menu">레시피</label>
                            <input type="text" class="form-control" id="exampleInputEmail_menu" name = "menu_name" placeholder="레시피이름">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail_menu_say">한줄평</label>
                            <input type="text" class="form-control" id="exampleInputEmail_menu_say" name = "menu_say" placeholder="한줄평">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail_menu_price">해당 메뉴의 가격은?</label>
                            <input type="text" class="form-control" id="exampleInputEmail_menu_price" name = "menu_price" placeholder="ex_5000">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail_bob_price">오뚜기밥 2개 가격은?</label>
                            <input type="text" class="form-control" id="exampleInputEmail_bob_price" name = "bob_price" placeholder="ex_1400">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail_source_box_price">해당 소스박스 가격은?</label>
                            <input type="text" class="form-control" id="exampleInputEmail_source_box_price" name = "source_box_price" placeholder="ex_1000">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail_menu_choice">메뉴선택</label>
                            <input type="text" class="form-control" id="exampleInputEmail_menu_choice" name = "menu_choice" placeholder="선택이면 1을 입력 취소면 0을 입력">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFile1">사진_1</label>
                            <input type="file" id="exampleInputFile1" name = "menu_img1">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFile2">사진_2</label>
                            <input type="file" id="exampleInputFile2" name = "menu_img2">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFile3">사진_3</label>
                            <input type="file" id="exampleInputFile3" name = "menu_img3">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFile4">사진_4</label>
                            <input type="file" id="exampleInputFile4" name = "menu_img4">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">저장</button>
                          </div>
                      </form>    
                  </div>
                </div>
              </div>
            </div>
            
            <br><br>
            <!-- address plus modal -->
            <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
            <button type="button" class="btn btn-info" style = "width:100%;" data-toggle="modal" data-target="#myModal_address_<%= @mart.id %>">
              배달 지역 추가
            </button>
            <% else %>
            <% end %>
            <!-- Modal -->
            <div class="modal fade" id="myModal_address_<%= @mart.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_address" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel_address">배달지역 추가하기</h4>
                  </div>
                  <div class="modal-body">
                      <form action = "/home/address_save/<%= @mart.id %>" method = "get">
                          <div class="form-group">
                            <label for="exampleInputEmail1_address1">주소입력</label>
                            <input type="text" class="form-control" id="exampleInputEmail1_address1" name = "ok_address" placeholder="주소입력">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1_match">인접지역 설정</label>
                            <input type="text" class="form-control" id="exampleInputPassword1_match" name = "together_zone" placeholder="숫자로 zone 입력">
                          </div>
                          <div class="modal-footer"> 
                            <button type="submit" class="btn btn-primary">저장</button>
                          </div>
                      </form>    
                  </div>
                </div>
              </div>
            </div> 
            <br><br>
            
            <button type="button" class="btn btn-success" style = "width: 100%;" data-toggle="modal" data-target="#myModal_relax_<%= @mart.id %>">
              마트휴무추가
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal_relax_<%= @mart.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel3">레시피 추가</h4>
                  </div>
                  <div class="modal-body">
                      <form action = "/home/relax_save"  method = "get">
                          <input type= "hidden" name = "mart_id" value =" <%= @mart.id %>"> <!-- Mart 고유 id 넘기기 -->
                          <div class="form-group">
                            <label for="exampleInputEmail_relax">마트휴무</label>
                            <input type="date" class="form-control" id="exampleInputEmail_relax" name = "relax_date">
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">저장</button>
                          </div>
                      </form>
                      
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>휴무일</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @relax.each do |ab| %>
                          <tr>
                            <th scope="row"><%= ab.id %></th>
                            <td><%= ab.relax_date %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                      
                      
                  </div>
                </div>
              </div>
            </div>
          
            
               
        </div>
        <div class = "col-md-1"></div>
        <div class = "col-md-9">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>레시피이름</th>
                  <th>재료보기</th>
                  <th>재료추가</th>
                  <th>소스추가</th>
                  <th>공동물품</th>
                  <th>소스박스공급</th>
                  <th>만드는방법</th>
                  <th>필요한거</th>
                  <th>판매유무</th>
                </tr>
              </thead>
              <tbody>
                <% @mart.menus.each do |x| %>
                    <tr>
                      <th scope="row"><%= x.id %></th>
                      <td><%= x.menu_name %></td>
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal_show_<%= x.id %>">
                          식자재 보기
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal_show_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">만드는 재료 보기</h4>
                              </div>
                              <div class="modal-body">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>재료 이름 </th>
                                      <th>재료 용량</th>
                                      <th>원산지</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% x.ingredients.each do |y| %>
                                      <tr>
                                        <th scope="row"><%= y.id %></th>
                                        <td><%= y.ingredient_name %></td>
                                        <td><%= y.ingredient_amount %></td>
                                        <td><%= y.ingredient_country %></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table> 
                                
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>소스 이름</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% x.sources.each do |z| %>
                                      <tr>
                                        <th scope="row"><%= z.id %></th>
                                        <td><%= z.source_name %></td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div> 
                      </td>
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal_ingredient_<%= x.id %>">
                          식자재 추가
                        </button>
                        <% end %>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal_ingredient_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">레시피 추가</h4>
                              </div>
                              <div class="modal-body">
                                  <form action = "/home/ingredient_save" method = "get">
               
                                      <input type= "hidden" name = "menu_id" value =" <%= x.id %>"> <!-- Menu 고유 id 넘기기 -->
                                      <div class="form-group">
                                        <label for="exampleInputEmail_ingredient_name">재료 이름</label>
                                        <input type="text" class="form-control" id="exampleInputEmail_ingredient_name" name = "ingredient_name" placeholder="ex_양파">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail_ingredient_amount">용량</label>
                                        <input type="text" class="form-control" id="exampleInputEmail_menu" name = "ingredient_amount" placeholder="ex_4개">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail_ingredient_country">원산지</label>
                                        <input type="text" class="form-control" id="exampleInputEmail_menu" name = "ingredient_country" placeholder="ex_국내산">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                      </div>
                                      
                                  </form>    
                              </div>
                              
                            </div>
                          </div>
                        </div> 
                      </td>
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal_source_<%= x.id %>">
                          소스추가
                        </button>
                        <% end %>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal_source_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">소스넣기</h4>
                              </div>
                              <div class="modal-body">
                                <form action = "/home/source_save">
                                  <input type = "hidden" value = "<%= x.id %>" name = "menu_id">
                                  <div class="form-group">
                                    <label for="exampleInputEmail_source_name">소스이름</label>
                                    <input type="text" class="form-control" id="exampleInputEmail_source_name" name = "source_name" placeholder="소스이름(ex_샘표 진간장)">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail_source_amount">소스이름</label>
                                    <input type="text" class="form-control" id="exampleInputEmail_source_amount" name = "source_amount" placeholder="소스수량입력(ex_6개)">
                                  </div>
                                  <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                      </div>
                                </form>     
                              </div>
                            </div>
                          </div>
                        </div> 
                      </td>
                      
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                          <!-- 레시피 공급 modal -->
                          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#recipe_<%= x.id %>">
                             공동물품추가
                          </button>
                          <% end %>
                          <!-- Modal -->
                          <div class="modal fade" id="recipe_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_recipe" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel_recipe">공동물품추가</h4>
                                </div>
                                <div class="modal-body">
                                    <form action = "/home/provide_save/<%= x.id %>" method = "get">
                                        <div class="form-group">
                                          <label for="exampleInput_recipe">이번에 공동물품 몇개 공급함?</label>
                                          <input type="text" class="form-control" id="exampleInput_recipe" name = "recipe" placeholder = "ex) 50">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit" class="btn btn-primary">저장</button>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>언제?</th>
                                      <th>몇개?</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% Menu.find(x.id).provides.each do |e| %>
                                    <tr>
                                      <th scope="row"><%= e.id %></th>
                                      <td><%= e.created_at.to_s.split(/ /)[0] %></td>
                                      <td><%= e.recipe %>개</td>
                                    </tr>
                                    <% end %>
                                    <tr>
                                      <th>총합</th>
                                      <td></td>
                                      <td><%= Provide.where(:menu_id => x.id).sum(:recipe) %>개</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>  
                      </td>
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                          <!-- 소스박스 공급 modal -->
                          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#box_<%= x.id %>">
                            소스박스추가
                          </button>
                        <% end %>  
                          <!-- Modal -->
                          <div class="modal fade" id="box_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_box" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel_box">소스박스 추가</h4>
                                </div>
                                <div class="modal-body">
                                    <form action = "/home/box_save/<%= x.id %>" method = "get">
                                        <div class="form-group">
                                          <label for="exampleInput_box">이번에 소스박스 몇개 공급함?</label>
                                          <input type="text" class="form-control" id="exampleInput_box" name = "source_box" placeholder = "ex) 50">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit" class="btn btn-primary">저장</button>
                                        </div>
                                    </form>    
                                </div>
                                <hr>
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>언제?</th>
                                      <th>몇개?</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% Menu.find(x.id).boxes.each do |d| %>
                                    <tr>
                                      <th scope="row"><%= d.id %></th>
                                      <td><%= d.created_at.to_s.split(/ /)[0] %></td>
                                      <td><%= d.source_box %>개</td>
                                    </tr>
                                    <% end %>
                                    <tr>
                                      <th>총합</th>
                                      <td></td>
                                      <td><%= Box.where(:menu_id => x.id).sum(:source_box) %>개</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          
                          
                        
                      </td>
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal_howto_<%= x.id %>">
                          만드는방법
                        </button>
                        <% end %>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal_howto_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_howto" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel_howto">레시피 추가</h4>
                              </div>
                              <div class="modal-body">
                                  <form action = "/home/howto_save" enctype="multipart/form-data" method = "post">
                                      <input type= "hidden" name = "menu_id" value =" <%= x.id %>"> <!-- Menu 고유 id 넘기기 -->
                                      <div class="form-group">
                                        <label for="exampleInputFile_how">레시피</label>
                                        <input type="file" name = "howto_img" id="exampleInputFile_how">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                      </div>
                                      
                                  </form>    
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <% if Access.where(:access_email => current_user.email).take.access_step <= 0 %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal_ready_<%= x.id %>">
                          필요한거
                        </button>
                        <% end %>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal_ready_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_ready" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel_ready">필요한거</h4>
                              </div>
                              <div class="modal-body">
                                  <form action = "/home/ready_save" method = "get">
                                      <input type= "hidden" name = "menu_id" value =" <%= x.id %>"> <!-- Menu 고유 id 넘기기 -->
                                      <div class="form-group">
                                        <label for="exampleInputEmail_ready_name">필요한거</label>
                                        <input type="text" class="form-control" id="exampleInputEmail_ready_name" name = "ready" placeholder="필요한거">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                      </div>
                                      
                                  </form>    
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <% if x.menu_choice == true %>
                          <!-- 판매 중 레시피 modal -->
                          <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#choice_<%= x.id %>">
                            판매 중
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="choice_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_choice" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel_choice">판매 메뉴 수정</h4>
                                </div>
                                <div class="modal-body">
                                    <form action = "/home/menu_modify/<%= x.id %>" method = "get">
                                        <div class="form-group">
                                          <label for="exampleInput_menu_choice">메뉴선택</label>
                                          <input type="text" class="form-control" id="exampleInput_menu_choice" value = "<%= x.menu_choice %>" name = "choice" placeholder="선택이면 1을 입력 취소면 0을 입력">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit" class="btn btn-primary">저장</button>
                                        </div>
                                    </form>
                                    

                                </div>
                              </div>
                            </div>
                          </div>
                        <% else %>
                          <!-- 판매 안하는 레시피 modal -->
                          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#choice_<%= x.id %>">
                             X
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="choice_<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_choice" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel_choice">판매 메뉴 수정 </h4>
                                </div>
                                <div class="modal-body">
                                    <form action = "/home/menu_modify/<%= x.id %>" method = "get">
                                        <div class="form-group">
                                          <label for="exampleInput_menu_choice">메뉴선택</label>
                                          <input type="text" class="form-control" id="exampleInput_menu_choice" value = "<%= x.menu_choice %>" name = "choice" placeholder="선택이면 1을 입력 취소면 0을 입력">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit" class="btn btn-primary">저장</button>
                                        </div>
                                    </form>    
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>    
            
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>레시피이름</th>
                  <th>남은 공동물품</th>
                  <th>남은 소스박스</th>
                </tr>
              </thead>
              <tbody>
                <% @mart.menus.each do |c| %>
                <tr>
                    <th scope="row"><%= c.id %></th>
                    <td><%= c.menu_name %></td>
                    <td><%= c.provides.sum(:recipe) - Purchase.where(:menu_id => c.id).count %>개</td>
                    <td><%= c.boxes.sum(:source_box) - Purchase.where(:menu_id => c.id).where(:option_2 => true).count %>개</td>
                </tr>
                <% end %>
              </tbody>
            </table>  
              
        </div>
    </div>
</div>