
  
 
    <!-- option css -->
    <link rel="stylesheet" type="text/css" href="/css/option_style.css">
    
    <!-- Main Navigation 
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class = "row">
                <div class = "col-md-2">    
                      <a class="navbar-brand" href="/"><img src="/logo.png"  alt="자취요리연구소"></a>
                </div>
            
                <!-- step by step 1,2,3 시작 -->
                <div class = "col-md-10" style = "margin-top:13px; float:right;">
                <ul class = "up_step" style = "list-style:none;" >
                    <li style = "opacity:0.5;">
                        <span class = "circle" style = "background-color: #6F6F6F;"><i class="fa fa-check" aria-hidden="true"></i></span> <span class = "bold step num_1" style = "font-size:20px;" >로그인</span> 
                    </li>
                    
                    <li>
                        <span class = "line"></span> <span class = "circle">2</span> <span class = "bold step num_2" style = "font-size:20px; color: #FFCC33;">메뉴선택</span>
                    </li>
                    
                    <li>
                        <span class = "line"></span> <span class = "circle" style = "background-color: #6F6F6F;">3</span> <span class = "bold step num_3" style = "font-size:20px;" >결제</span>
                    </li>
                </ul>
                </div>
                <!-- step by step 1,2,3 끝 -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    

    <div class = "container" style = "padding-top: 100px; padding-bottom: 10%;" id = "buy" >
        <div class = "row" id = "top_row">
            <div class = "col-md-1"></div>
            <div class = "col-md-5">
                <div class = "left_img"> <!-- style = "float:left; width:50%;" -->
                    <img src = "<%= Menu.find(params[:id]).menu_img1 %>" class ="main_dish" style = "width: 100%;" />
                      <div style = "margin-top: 20px;">
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img1 %>" id = "img_one" style = "width: 100%; height: 83px; cursor:pointer;">    
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img2 %>" id = "img_two" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img3 %>" id = "img_three" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img4 %>" id = "img_four" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                      </div>
                </div>
            </div>
            <div class = "col-md-5 content" >   
                <div class = "right_content bold"> <!-- style = "float:left; width:50%;" -->
                    <span style = "color:black;  font-size: 30px;"><%= @menu.menu_name %></span> <span>(식재료 SET)</span><br>
                    <div><%= @menu.menu_say %></div><br>
                    <div style = "font-size:16px;"><span style = "margin-right:10px;">판매마트</span>|&nbsp;&nbsp;<%= Mart.find(Menu.find(params[:id]).mart_id).mart_name %></div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:10px;">준비할것</span>|&nbsp;&nbsp;<% @need[0..-2].each do |z| %><%= z.ready %>, <% end %> <%= @need.last.ready %></div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:10px;">드리는것</span>|&nbsp;&nbsp;정량의 식재료, 레시피, 양념</div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:39px;">인분</span>|&nbsp;&nbsp;2인분</div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:15px;">배송<sup data-toggle="tooltip" data-placement="right" title="주문접수가 완료되고 판매마트에서 확인 후 소분 및 배송 됩니다. 거리와 특정 몰림시간에 따라 차이가 있을 수 있으나 접수 후 10~40분 이내 배송완료됩니다. 식품의 신선도를 위해 바로 수령해 주시고 냉장 보관 또는 드시는게 좋습니다."> <span class="badge" >?</span></sup></span>|&nbsp;&nbsp;마트자체 무료배송</div>
                    <hr>
                    <form action ="/home/credit" method = "post">
                        <input type = "hidden" name = "menu_id" value = "<%= params[:id] %>">
                        <span style = "font-size: 16px;"><i class="fa fa-check-square-o" aria-hidden="true"></i> 지금 바로 먹을 밥이 없다면?</span>
                        <select class="form-control" id = "bob" name = "bob">
                            <option selected value = "0">오픈기념 오뚜기즉석밥2개(<%= number_with_delimiter(@mart.bob_price, :delimiter => ',') %>원) 무료!(소진시까지)</option>
                            <option  disabled value = "0">있어요 --- 0원</option>
                            <option  disabled value = "<%= @mart.bob_price %>">오뚜기즉석밥(200g) 2개 ---- <%= number_with_delimiter(@mart.bob_price, :delimiter => ',') %>원</option>
                        </select>  
                        <br><br>
                        <hr>
                        <br>
                            <div style = "text-align: right;">
                                <span style = "font-size: 16px; color: black; margin-right: 13px;">총 상품금액</span> <span class = "price" style = "font-size: 33px; color:#FFCC33;"><%= number_with_delimiter(@menu.menu_price, :delimiter => ',') %></span><span style = "font-size: 16px; color:#FFCC33;"> 원</span>
                            </div>
                        <button type="submit" class="btn btn-warning" style = "width:100%; font-size:20px; margin-top:20px;">주문접수하기</button>
                    </form>
                </div>
            </div>
            <div class = "col-md-1"></div>
        </div> 
        
        <div class = "row">
            <div class="section-header" style = "margin-top:50px;">
                <h2 class = "bold">상품 <span class="highlight">상세설명</span></h2> 
                <h6>궁금한 내용은 언제든 물어봐주세요.</h6>
                <div class="fancy"><span><img src="/img/flask.png" style = "width: 50px; height: 60px;" alt="로고모양"></span></div>
            </div>
            
            
            <div class = "col-md-12">
                <img src = "/all/1.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/2.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/3.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/4.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/5.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <% Menu.find(params[:id]).howtos.each do |c| %>
                    <img src = "<%= c.howto_img %>" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <% end %> 
                <img src = "/all/6.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/7.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/all/8.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
            </div>
        </div>
        
        <div class = "row" style = "margin-top:10px;">
            <div class = "col-md-12">
                <a class="btn btn-warning bold" href="#buy" role="button" style = "width:100%; font-size:20px;">지금 주문접수 하기!</a>
            </div>
        </div>
        
        

        

    </div>



    <!-- Footer 
    ================================================== -->
    <%= render :partial => "home/footer" %> 

     
    <!-- option_js  
    <script  src="/js/option_js.js"></script> -->   
    <script>
    
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });

         
$(document).ready(function(){
        var price = <%= @menu.menu_price %>; //전 페이지에서 넘어오는 상품 가격
        $("#bob").change(function() {
          var bob_value = parseInt($("#bob").val());
          $(".price").text(price + bob_value).replace(/,/g,''); 
        });
        

        
    });
    
    $(document).ready(function(){
        $("#img_one").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img1 %>");
        })
        
        $("#img_two").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img2 %>");
        })
        
        $("#img_three").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img3 %>");
        })
        
        $("#img_four").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img4 %>");
        })
    });

    </script>