
  
 
    <!-- option css -->
    <link rel="stylesheet" type="text/css" href="/css/option_style.css">
    
    <!-- Main Navigation 
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class = "row">
                <div class = "col-md-2">    
                      <a class="navbar-brand" href="/"><img src="/logo.png"  alt="자취요리연구소"></a>
                </div>
            
                <!-- step by step 1,2,3 시작 -->
                <div class = "col-md-10" style = "margin-top:13px; float:right;">
                <ul class = "up_step" style = "list-style:none;" >
                    <li style = "opacity:0.5;">
                        <span class = "circle" style = "background-color: #6F6F6F;"><i class="fa fa-check" aria-hidden="true"></i></span> <span class = "bold step num_1" style = "font-size:20px;" >로그인</span> 
                    </li>
                    
                    <li>
                        <span class = "line"></span> <span class = "circle">2</span> <span class = "bold step num_2" style = "font-size:20px; color: #FFCC33;">메뉴선택</span>
                    </li>
                    
                    <li>
                        <span class = "line"></span> <span class = "circle" style = "background-color: #6F6F6F;">3</span> <span class = "bold step num_3" style = "font-size:20px;" >결제</span>
                    </li>
                </ul>
                </div>
                <!-- step by step 1,2,3 끝 -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    

    <div class = "container" style = "padding-top: 100px; padding-bottom: 10%;" >
        <div class = "row" id = "top_row">
            <div class = "col-md-1"></div>
            <div class = "col-md-5">
                <div class = "left_img"> <!-- style = "float:left; width:50%;" -->
                    <img src = "<%= Menu.find(params[:id]).menu_img1 %>" class ="main_dish" style = "width: 100%;" />
                      <div style = "margin-top: 20px;">
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img1 %>" id = "img_one" style = "width: 100%; height: 83px; cursor:pointer;">    
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img2 %>" id = "img_two" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img3 %>" id = "img_three" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                        <div class = "col-md-3 col-xs-3" style = "padding-right:5px; padding-left:5px;">
                            <img src = "<%= Menu.find(params[:id]).menu_img4 %>" id = "img_four" style = "width: 100%; height: 83px; cursor:pointer;">
                        </div>
                      </div>
                </div>
            </div>
            <div class = "col-md-5 content" >   
                <div class = "right_content bold"> <!-- style = "float:left; width:50%;" -->
                    <span style = "color:black;  font-size: 30px;"><%= @menu.menu_name %></span> <span>(식재료 SET)</span><br>
                    <div><%= @menu.menu_say %></div><br>
                    <div style = "font-size:16px;"><span style = "margin-right:10px;">판매마트</span>|&nbsp;&nbsp;<%= Mart.find(Menu.find(params[:id]).mart_id).mart_name %></div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:10px;">준비할것</span>|&nbsp;&nbsp;<% @need[0..-2].each do |z| %><%= z.ready %>, <% end %> <%= @need.last.ready %></div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:39px;">인분</span>|&nbsp;&nbsp;2인분</div>
                    <div style = "font-size:16px; margin-top:5px;"><span style = "margin-right:39px;">배송</span>|&nbsp;&nbsp;마트자체 무료배송</div>
                    <hr>
                    <form action ="/home/credit" method = "post">
                        <input type = "hidden" name = "menu_id" value = "<%= params[:id] %>">
                        <span style = "font-size: 16px;"><i class="fa fa-check-square-o" aria-hidden="true"></i> 저녁에 먹을 밥이 없다면?</span>
                        <select class="form-control" id = "bob" name = "bob">
                            <option selected value = "0">오픈기념 오뚜기즉석밥2개(<%= number_with_delimiter(@menu.bob_price, :delimiter => ',') %>원) 무료!(소진시까지)</option>
                            <option disabled value = "0">있어요 --- 0원</option>
                            <option disabled value = "<%= @menu.bob_price %>">오뚜기즉석밥(200g) 2개 ---- <%= number_with_delimiter(@menu.bob_price, :delimiter => ',') %>원</option>
                        </select>  
                        <br>
                        <span style = "font-size: 16px;"><i class="fa fa-check-square-o" aria-hidden="true"></i> 필요한 양념이 없다면?<sup data-toggle="tooltip" data-placement="right" title="2인분 정량에 필요한 소포장된 양념 소스를 보내드립니다. 집에 해당메뉴를 만드는데 들어가는 양념이 구비되어 있다면 구매안하셔도 무방합니다. 해당 소스패키징은 자취요리연구소에서 자체적으로 판매하는 상품입니다."><span class="badge">?</span></sup></span>
                        <select class="form-control" id = "source" name = "source">
                            <option value = "0">있어요 --- 0원</option>
                            <option value = "<%= @menu.source_box_price %>">2인 정량 소스박스 ---- <%= number_with_delimiter(@menu.source_box_price, :delimiter => ',') %>원</option>
                        </select>  
                        <br>
                        <spanstyle = "font-size: 16px;"><i class="fa fa-check-square-o" aria-hidden="true"></i> 배송 희망 시간<sup data-toggle="tooltip" data-placement="right" title="배송희망 시작 시간의 30분 이전은 판매 마트의 포장 및 준비시간으로 주문에 제한이 있습니다. 배송희망시간이 지난 시간에는 다음날 주문이 가능합니다."> <span class="badge" >?</span></sup></span>
                        <% if Time.zone.now.between?(Time.zone.now.midnight, Time.zone.now.midnight + 16.hours + 30.minute) %> <!--오늘 자정 ~ 오후 4:30분 -->
                            <select class="form-control" id ="wanted_time" name = "wanted_time">
                              <% if @deliver_5 < @deliver_amount &&  @deliver_7 < @deliver_amount %>
                                  <option value = "<%= @five_time %>">오늘 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @seven_time %>">오늘 오후 7시 - 오후 8시</option>
                              <% elsif @deliver_5 >= @deliver_amount &&  @deliver_7 < @deliver_amount %>
                                  <option value = "<%= @five_time %>" disabled>오늘 오후 5시 - 오후 6시 (당일 해당시간에 주문가능한 수량이 모두 소진되었습니다. )</option>
                                  <option value = "<%= @seven_time %>">오늘 오후 7시 - 오후 8시</option>
                              <% elsif @deliver_5 < @deliver_amount &&  @deliver_7 >= @deliver_amount %>
                                  <option value = "<%= @five_time %>">오늘 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @seven_time %>" disabled>오늘 오후 7시 - 오후 8시 (당일 해당시간에 주문가능한 수량이 모두 소진되었습니다. )</option>
                              <% else %>
                                  <optgroup label="오늘 준비한 물량이 모두 소진되어 다음날 예약주문만 가능합니다.">
                                  <option value = "<%= @next_five_time %>">내일 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @next_seven_time %>">내일 오후 7시 - 오후 8시</option>      
                              <% end %>
                            </select>
                        <% elsif Time.zone.now.between?(Time.zone.now.midnight + 16.hours + 30.minute, Time.zone.now.midnight + 18.hours + 30.minute) %> <!--오후 4:30분 ~ 오후 6:30분 -->
                            <select class="form-control" id ="wanted_time" name = "wanted_time">  
                              <% if @deliver_7 < @deliver_amount %>
                                  <option value = "<%= @five_time %>" disabled>오늘 오후 5시 - 오후 6시 (주문 가능한 시간이 종료되었습니다.)</option>
                                  <option value = "<%= @seven_time %>">오늘 오후 7시 - 오후 8시</option>
                              <% else %>
                                  <option value = "<%= @five_time %>" disabled>오늘 오후 5시 - 오후 6시 (주문 가능한 시간이 종료되었습니다.)</option>
                                  <option value = "<%= @seven_time %>" disabled>오늘 오후 7시 - 오후 8시 (당일 해당시간에 주문 가능한 수량이 모두 소진되었습니다. )</option>
                                  <optgroup label="오늘 준비한 물량이 모두 소진되어 다음날 예약주문만 가능합니다.">
                                  <option value = "<%= @next_five_time %>">내일 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @next_seven_time %>">내일 오후 7시 - 오후 8시</option>   
                              <% end %>
                            </select>
                        <% elsif Time.zone.now.between?(Time.zone.now.midnight + 18.hours + 30.minute, Time.zone.now.midnight + 24.hours) %> <!--오후 6:30분 ~ 오늘자정 -->
                             <select class="form-control" id ="wanted_time" name = "wanted_time">
                              <% if @deliver_next_5 < @deliver_amount && @deliver_next_7 < @deliver_amount %>
                                  <option value = "<%= @next_five_time %>">내일 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @next_seven_time %>">내일 오후 7시 - 오후 8시</option>
                              <% elsif @deliver_next_5 < @deliver_amount && @deliver_next_7 >= @deliver_amount %>
                                  <option value = "<%= @next_five_time %>">내일 오후 5시 - 오후 6시</option>
                                  <option value = "<%= @next_seven_time %>" disabled>내일 오후 7시 - 오후 8시 (내일 해당시간에 주문 가능한 수량이 모두 소진되었습니다 ㅠㅠ)</option>
                              <% elsif @deliver_next_5 >= @deliver_amount && @deliver_next_7 < @deliver_amount %>
                                  <option value = "<%= @next_five_time %>" disabled>내일 오후 5시 - 오후 6시 (내일 해당시간에 주문 가능한 수량이 모두 소진되었습니다 ㅠㅠ)</option>
                                  <option value = "<%= @next_seven_time %>">내일 오후 7시 - 오후 8시</option>
                              <% else %>
                                  
                              <% end %>
                             </select>
                        <% else %>
                        
                        <% end %>
                        <hr>
                            <div style = "text-align: right;">
                                <span style = "font-size: 16px; color: black; margin-right: 13px;">총 상품금액</span> <span class = "price" style = "font-size: 33px; color:#FFCC33;"><%= number_with_delimiter(@menu.menu_price, :delimiter => ',') %></span><span style = "font-size: 16px; color:#FFCC33;"> 원</span>
                            </div>
                        <button type="submit" class="btn btn-warning" style = "width:100%; font-size:20px; margin-top:20px;">식재료주문</button>
                    </form>
                </div>
            </div>
            <div class = "col-md-1"></div>
        </div> 
        
        <div class = "row">
            <div class="section-header" style = "margin-top:50px;">
                <h2 class = "bold">상품 <span class="highlight">상세설명</span></h2> 
                <h6>궁금한 내용은 언제든 물어봐주세요.</h6>
                <div class="fancy"><span><img src="/img/flask.png" style = "width: 50px; height: 60px;" alt="로고모양"></span></div>
            </div>
            
            
            <div class = "col-md-12">
                <img src = "/intro/1.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/2.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/3.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/4.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/5.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <% Menu.find(params[:id]).howtos.each do |c| %>
                    <img src = "<%= c.howto_img %>" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <% end %> 
                <img src = "/intro/15.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/16.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/17.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
                <img src = "/intro/18.png" style = "width: 100%; margin-bottom: 0px; margin-top: 0px;" />
            </div>
            

        </div>

        

    </div>



    <!-- Footer 
    ================================================== -->
    <%= render :partial => "home/footer" %> 

     
    <!-- option_js  
    <script  src="/js/option_js.js"></script> -->   
    <script>
    
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });

         
$(document).ready(function(){
        var price = <%= @menu.menu_price %>; //전 페이지에서 넘어오는 상품 가격
        $("#bob").change(function() {
          var bob_value = parseInt($("#bob").val());
          var source_value = parseInt($("#source").val());
          $(".price").text(price + source_value + bob_value).replace(/,/g,''); 
        });
        
        $("#source").change(function() {
          var source_value = parseInt($("#source").val());
          var bob_value = parseInt($("#bob").val());
          $(".price").text(price + bob_value + source_value).replace(/,/g,''); 
        });
        
    });
    
    $(document).ready(function(){
        $("#img_one").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img1 %>");
        })
        
        $("#img_two").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img2 %>");
        })
        
        $("#img_three").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img3 %>");
        })
        
        $("#img_four").mouseover(function() {
            $(".main_dish").attr("src", "<%= Menu.find(params[:id]).menu_img4 %>");
        })
    });

    </script>