    <meta http-equiv="refresh" content="90" /> <!-- 60초마다 리프레쉬 -->

    <!-- Main Navigation 
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/top.png" alt="자취요리연구소"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" >
                <li class = "bold"><a href="/home/contact" class="scroll">문의</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class = "container" style = "margin-top:80px;">
      <div class = "row">
        <div class = "col-md-8">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/home/order/<%= params[:id] %>">개요</a></li>
            <li role="presentation"><a href="/home/buy_total/<%= params[:id] %>">정산내역</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class = "container" >
        <div class = "row">
            <div class = "row" style = "margin-bottom:15px;">
            	  <div class = "col-md-8">
                </div>
                <div class = "col-md-4 bold" style = "text-align:center;">
                  <% if Time.zone.now.between?(Time.zone.now.midnight + Mart.find(params[:id]).start_time.hours, Time.zone.now.midnight + Mart.find(params[:id]).end_time.hours) %>
                    <p class="bg-primary" style = "padding:3px;">
                      	<%= Time.zone.now.to_s.split[0] %>(오늘) - 주문접수진행중입니다.
                    </p>
                  <% else %>
                    <p class="bg-info" style = "padding:3px;">
                      	<%= Time.zone.now.to_s.split[0] %>(오늘) - 주문접수가 모두 완료되었습니다.
                    </p>
                  <% end %>
                </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>주문시간</th>
                  <th>이름</th>
                  <th>주문메뉴</th>
                  <th>주소</th>
                  <th>공동현관</th>
                  <th>핸드폰</th>
                  <th>요구사항</th>
                </tr>
              </thead>
              <tbody>
                <% num = 1 %>
                <% @today_time.each do |a| %>
                  <tr>
                    <th scope="row"><%= num %></th>
                    <th><%= a.created_at.to_s.split[0] + " " + a.created_at.to_s.split[1] %></th>
                    <td><%= User.where(:id => a.user_id).take.privacy.name %></td>
                    <td>
                      <% if a.option_1 == true %>
                        <%= Menu.find(a.menu_id).menu_name %> + 오뚜기밥 2개
                      <% else %>
                        <%= Menu.find(a.menu_id).menu_name %>
                      <% end %>
                    </td>
                    <td><%= User.where(:id => a.user_id).take.address + User.where(:id => a.user_id).take.sub_address  %></td>
                    <td><%= User.where(:id => a.user_id).take.privacy.public_pw %></td>
                    <td><%= User.where(:id => a.user_id).take.privacy.phone %></td>
                    <td><%= a.want_content %></td>
                  </tr>
                  <% num = num + 1 %>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>

   <div class = "row" style = "margin-top:300px;">
   <!-- Footer 
    ================================================== -->
    <%= render :partial => "home/footer" %> 


